body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  color: #22c55e;
  font-size: 42px;
}

.btn {
  background: #22c55e;
  color: black;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

.skills span {
  background: #1e293b;
  padding: 8px 14px;
  margin: 5px;
  display: inline-block;
  border-radius: 6px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
